<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %} - MyBuilding.com</title>

    <link rel="stylesheet" href="/dist{{ asset('main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
</head>
<body>
<nav class="site-header sticky-top py-1">
    <ul class="container d-flex flex-column flex-md-row justify-content-between">
        <li class="py-2">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                </svg>
            </a>
        </li>
        <li class="py-2 d-none d-md-inline-block"><a href="{{ path( 'home_page' ) }}">Accueil</a></li>

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="py-2 d-none d-md-inline-block"><a href="{{ path( 'login' ) }}">Connexion</a></li>
            <li class="py-2 d-none d-md-inline-block"><a href="{{ path( 'registration' ) }}">Inscription</a></li>
        {% else %}
            <li class="py-2 d-none d-md-inline-block"><a href="{{ path( 'logout' ) }}">Déconnexion</a></li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <li class="py-2 d-none d-md-inline-block"><a href="{{ path( 'admin' ) }}">Administration</a></li>
        {% endif %}
    </ul>
</nav>
<section>
    {% block body %}{% endblock %}
</section>
<script src="/dist{{ asset('main.js') }}"></script>
</body>
</html>
